<html>
    <head>

    </head>

    <body>
        <h1 style="color: blue; text-align: center;">Welcome to Our form:</h1>

        <!-- action="/submit": dee ya3ny ba2olo ro7 3ala el page el esmha submit wadelha el data dee-->
        <form action="/submit" method="POST">

            <h3 style="font-size: 24px; color: #333; font-family: Arial, sans-serif;">Enter Your name:</h3>
            <input type="text" id="name" name="name"><br><br> 

            <h3 style="font-size: 24px; color: #333; font-family: Arial, sans-serif;">Enter Your Age:</h3>
            <input type="number" id="age" name="age"><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>